body * {
  font-family: "Roboto", sans-serif;
}
#body-bg {
  background-image: url("../iamges/bodyBackground.png");
  background-repeat: no-repeat;
  background-size: 100vw 90vh;
  background-color: #202345;
}

#body-bg .navbar .navbar-brand img {
  width: 160px;
  height: 50px;
}

#conovo-nav.navbar {
  transition: background-color 0.3s ease;
}

#conovo-nav.navbar .navbar-toggler {
  border: none;
}
#conovo-nav.navbar .navbar-toggler:focus {
  box-shadow: none;
}

#conovo-nav.nav-scrolled.fixed-top {
  background-color: #202345 !important;
}

#body-bg .navbar .gradient-btn {
  background: linear-gradient(to right, #f5a60b, #d27716);
  border: none;
  color: white;
  font-size: 0.875rem;
  padding: 0.5rem 2rem !important;
  border-radius: 0.5rem;
  margin-left: 1rem;
}

#body-bg .navbar-nav .nav-link {
  padding-left: 1rem;
  padding-right: 1rem;
  color: white;
  font-size: 0.875rem;
}

#body-bg .navbar-nav .nav-link.active {
  text-decoration: underline;
  text-underline-offset: 2px;
  text-decoration-thickness: 2px;
}

.hero-container {
  padding-top: 12rem;
  padding-bottom: 3rem;
}
img.hero-img {
  max-width: 100%;
  object-fit: cover;
}
.hero-img-container {
  padding-bottom: 5rem;
}

@media only screen and (max-width: 768px) {
  .hero-container {
    padding-top: 6rem;
  }
}
